<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">

</head>

<body>
<header>
    <div class="profile-picture">
        <img th:src="@{/images/persona.png}" alt="Profile Picture">
    </div>
    <div class="profile-info">
        <h1>Brigit Britt</h1>
        <p>Deutsch Lehrerin</p>
        <p>Location: Sekundarschule St. Gallen</p>
    </div>
</header>


<main>
    <div id="popup" class="popup" style="display: none;">
        <h2>Klasse:</h2>
        <input type="text" id="name" placeholder="Name der Klasse eingeben">
        <button id="popup-ok-button">Ok</button>
    </div>






    <section class="cards">
        <div th:each="class : ${classes}" class="card">
            <h2 th:text="${class.getKlassenName()}">class name</h2>
            <p>I have this class on Monday morning.</p>
            <a th:href="@{/classes/{class}(class=${class.getKlassenName()})}">Goto class</a>
        </div>
        <div>
            <button id="create-class" class="back-button">+</button>
        </div>
    </section>
</main>
<script type="module" th:src="@{/js/index.js}"></script>
</body>

</html>