<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile and Classes</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />


</head>
<body>
<div class="profile-section">
    <div class="profile-picture"><img th:src="@{/images/teacher.webp}" alt="" class="profile-picture"></div>
    <div>
        <h2>Emily Frei</h2>
        <p>Primarschule St.Gallen</p>
    </div>
</div>
<div class="central-section">
    <a href="/classes/classa" class="class-widget">Klasse A</a>
    <a href="/classes/classb" class="class-widget">Klasse B</a>
    <a href="/classes/classc" class="class-widget">Klasse C</a>
    <!-- Add more class widgets as needed -->
</div>
</body>
</html>
