<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subject Selector</title>
  <link rel="stylesheet" th:href="@{/css/student.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">

  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
     rel="stylesheet"> -->
</head>

<body>
<header>
  <a th:href="@{/classes/{class}(class=${className})}" class="back-button">Back</a>
  <nav>
    <ul>
      <button id="add-lernziel-btn" class="upload-btn">add</button>
      <button id="upload-btn" class="upload-btn">Upload</button>
      <li><a href="#deutsch" id="deutsch-link">Deutsch</a></li>
      <li><a href="#mathematik" id="mathematik-link">Mathematik</a></li>
      <li><a href="#natur" id="natur-link">Natur</a></li>
      <li><a href="#mensch" id="mensch-link">Mensch</a></li>
      <li><a href="#gesellschaft" id="gesellschaft-link">Gesellschaft</a></li>
      <li><a href="#gestalten" id="gestalten-link">Gestalten</a></li>
      <li><a href="#musik" id="musik-link">Musik</a></li>
      <li><a href="#bewegung" id="bewegung-link">Bewegung und Sport</a></li>
    </ul>
  </nav>
</header>

<div id="popup" class="popup">
  <h2>Create Lernziel</h2>
  <label for="description">Description:</label><br>
  <input type="text" id="description" placeholder="Enter Description"><br><br>
  <label for="type">Type:</label><br>
  <select id="type">
    <option value="hören">Hören</option>
    <option value="lesen">lesen</option>
    <option value="sprechen">sprechen</option>
    <option value="schreiben">schreiben</option>
    <option value="sprache im Fokus">sprache im Fokus</option>
    <option value="literatur im Fokus">literatur im Fokus</option>
  </select><br><br>
  <button id="create-lernziel-btn">Create</button>
</div>




<main>
  <section id="deutsch" class="section-div">
    <h1>Deutsch</h1>
    <p>This is the content for Deutsch.</p>
    <div id="deutsch-content">
      <div th:each="lernziel : ${student.getLernziele(0)}" class="card" th:id="${lernziel.getUid()}">

        <div class="bewertung">
          <div class="round-button brown" style="background-color: brown"></div>
          <div class="round-button green" style="background-color: green"></div>
          <div class="round-button orange" style="background-color: orange"></div>
          <div class="round-button yellow" style="background-color: yellow"></div>
        </div>

        <h2>Deutsch</h2>
        <h4 th:text="${lernziel.getAufzaehlungspunkt()}"></h4>
        <p th:text="${lernziel.getBezeichnung()}">Description</p>
      </div>
    </div>
  </section>
  <section id="mathematik">
    <h1>Mathematik</h1>
    <p>This is the content for Mathematik.</p>
    <div id="mathematik-content">
      <div th:each="lernziel : ${student.getLernziele(1)}" class="card">
        <h2>Mathematik</h2>
        <h4 th:text="${lernziel.getAufzaehlungspunkt()}"></h4>
        <p th:text="${lernziel.getBezeichnung()}">Description</p>
      </div>
    </div>
  </section>
  <section id="natur">
    <h1>Natur</h1>
    <p>This is the content for Natur.</p>
    <div id="natur-content">
      <div th:each="lernziel : ${student.getLernziele(2)}" class="card">
        <h2>Natur</h2>
        <h4 th:text="${lernziel.getAufzaehlungspunkt()}"></h4>
        <p th:text="${lernziel.getBezeichnung()}">Description</p>
      </div>
    </div>
  </section>
  <section id="mensch">
    <h1>Mensch</h1>
    <p>This is the content for Mensch.</p>
    <div id="mensch-content">
      <div th:each="lernziel : ${student.getLernziele(3)}" class="card">
        <h2>Mensch</h2>
        <h4 th:text="${lernziel.getAufzaehlungspunkt()}"></h4>
        <p th:text="${lernziel.getBezeichnung()}">Description</p>
      </div>
    </div>
  </section>
  <section id="gesellschaft">
    <h1>Gesellschaft</h1>
    <p>This is the content for Gesellschaft.</p>
    <div id="gesellschaft-content">
      <div th:each="lernziel : ${student.getLernziele(4)}" class="card">
        <h2>Gesellschaft</h2>
        <h4 th:text="${lernziel.getAufzaehlungspunkt()}"></h4>
        <p th:text="${lernziel.getBezeichnung()}">Description</p>
      </div>
    </div>
  </section>
  <section id="gestalten">
    <h1>Gestalten</h1>
    <p>This is the content for Gestalten.</p>
    <div id="gestalten-content">
      <div th:each="lernziel : ${student.getLernziele(5)}" class="card">
        <h2>Gestalten</h2>
        <h4 th:text="${lernziel.getAufzaehlungspunkt()}"></h4>
        <p th:text="${lernziel.getBezeichnung()}">Description</p>
      </div>
    </div>
  </section>
  <section id="musik">
    <h1>Musik</h1>
    <p>This is the content for Musik.</p>
    <div id="musik-content">
      <div th:each="lernziel : ${student.getLernziele(6)}" class="card">
        <h2>Musik</h2>
        <h4 th:text="${lernziel.getAufzaehlungspunkt()}"></h4>
        <p th:text="${lernziel.getBezeichnung()}">Description</p>
      </div>
    </div>
  </section>
  <section id="bewegung">
    <h1>Bewegung und Sport</h1>
    <p>This is the content for Bewegung und Sport.</p>
    <div id="bewegung-content">
      <div th:each="lernziel : ${student.getLernziele(7)}" class="card">
        <h2>Bewegung</h2>
        <h4 th:text="${lernziel.getAufzaehlungspunkt()}"></h4>
        <p th:text="${lernziel.getBezeichnung()}"></p>
      </div>
    </div>
  </section>
</main>

<script type="module" th:src="@{/js/student.js}"></script>

</body>

</html></title>
</head>
<body>

</body>
</html>